/*{"dash-name":"Basic","dash-type":"basic"}*/
.page-content {
    -webkit-transition: all 0.3s linear !important;
       -moz-transition: all 0.3s linear !important;
            transition: all 0.3s linear !important;        
}
.portlet.light.custom-filter-section{
    border: 1px solid #ddd !important;
}
/*AUTO COLOR LUNINANCE CHECKER */
.panel .panel-body,.generator-grid-preview-container{
    background: white url(../../../assets/global/img/pattern/debut-light.png) repeat top left;
}